@use './colors' as *;
@use './mixins' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 120px;
}

body {
	font-size: 1.6rem;
	font-family: 'Roboto', sans-serif;
	height: 10000px;
}
.wrapper {
	margin: 0 auto;
	max-width: 1600px;
	width: 100%;
}
header {
	z-index: 0;
	height: 100vh;

	background-color: $dark;
	.scrolled {
		background-color: rgba(25, 32, 41, 0.959);
	}
	.navbar {
		@include navbarr;
		i {
			font-size: 60px;
			cursor: pointer;
			padding: 0.5em;
			color: #64abaf;
		}
	}
	.navbar-dekstop {
		@include navbarr;
		.nav-links {
			margin-right: 6%;
			padding: 2em;
			.nav_link {
				margin: 10px;
				padding: 1.3em;
				text-decoration: none;
				color: #dddddd;
				// text-transform: uppercase;
				font-size: 1.8rem;
				transition: color 0.3s;
				font-weight: 670;
			}
			:first-child {
				color: $bright;
			}
			.nav_link:hover {
				color: $bright;
			}
			.nav_link:focus {
				outline: none;
				color: $bright;
			}
		}
	}
	.menu-mobile {
		background-image: linear-gradient(315deg, $dark 0%, #2f6a6d);
		z-index: 100;
		position: fixed;
		height: 100vh;
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
		transition: transform 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
		transform: translateX(100%);
		.nav_link {
			position: relative;
			padding: 2.3em 15%;
			text-decoration: none;
			color: $bright;
			text-transform: uppercase;
			font-size: 2rem;
			font-weight: 730;
		}
		.nav_link::before,
		.nav_link::after {
			content: '';
			position: absolute;
			width: 0;
			bottom: 20px;
			border-bottom: 4px solid $bright;
			border-top-right-radius: 2px;
			border-bottom-right-radius: 2px;
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
		}
		.nav_link::before {
			right: 50%;
			border-top-left-radius: 2px;
			border-bottom-left-radius: 2px;
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
		}
		.nav_link::after {
			left: 50%;
		}
		.nav_link:focus::before,
		.nav_link:focus::after {
			width: 40%;
			transition: width 0.3s ease;
		}

		:focus {
			outline: none;
		}
		:first-child {
			margin-top: 20%;
		}

		i {
			position: absolute;
			top: 0;
			right: 0;
			font-size: 60px;
			z-index: 101;
			cursor: pointer;
			padding: 0.5em;
			color: #64abaf;
		}
	}
	.show-nav {
		transform: translateX(0);
	}
	.heading {
		position: absolute;
		top: 27%;
		left: 10%;
		z-index: 2;
		.heading-title {
			z-index: 2;
			font-size: 6.5rem;
			color: $bright;
		}
		p {
			z-index: 2;
			color: #dddddd;
			font-size: 2.3rem;
			span {
				color: $bright;
			}
		}
	}
	.image {
		.unusual {
			z-index: 2;
			overflow: hidden;
			position: absolute;
			width: 270px;
			bottom: 4em;
			right: 10%;
		}
	}
	.background-images {
		i {
			position: absolute;
			// z-index: -1;
			font-size: 4em;
			color: rgba($color: rgb(121, 121, 121), $alpha: 0.13);
			animation: rotate-right 35s infinite ease;
		}
		.one {
			z-index: 1;
			bottom: 1.2em;
			left: 13%;
			transform: rotate(20deg);
			animation: rotate-left 45s infinite ease;
		}
		.two {
			z-index: 1;
			bottom: 0.5em;
			left: 65%;
			transform: rotate(35deg);
			animation: rotate-right 48s infinite ease;
		}
		.three {
			z-index: 1;
			top: 6em;
			left: 65%;
			transform: rotate(10deg);
			animation: rotate-left 42s infinite ease;
		}
		.four {
			z-index: 1;
			top: 2.6em;
			left: 10%;
			transform: rotate(-15deg);
			animation: rotate-left 60s infinite ease;
		}
		.five {
			z-index: 1;
			top: 6em;
			left: 14%;
			transform: rotate(-6deg);
			animation: rotate-right 457s infinite ease;
		}
		.six {
			z-index: 1;
			top: 3em;
			right: 16%;
			transform: rotate(-6deg);
			animation: rotate-left 52s infinite ease;
		}
		.seven {
			display: none;
		}
		.eight {
			display: none;
		}
	}
}
main {
	.hero-img {
		background-image: url('../img/luis-reyes-mTorQ9gFfOg-unsplash.jpg');
		height: 300px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: inset 0 0 25px 25px $dark;
		.hero-img-text {
			z-index: 3;
			color: $light-creme;
			text-transform: uppercase;
			font-weight: 700;
		}
		.hero-img-shadow {
			position: absolute;
			height: 100%;
			top: 0;
			left: 0;
			width: 100%;
			background-color: rgba($color: #1e232b, $alpha: 0.8);
		}
	}
	///about me
	.about-me {
		background-color: $dark;
		// height: 900px;
		position: relative;
		.background-images {
			i {
				position: absolute;
				// z-index: -1;
				font-size: 4em;
				color: rgba($color: rgb(121, 121, 121), $alpha: 0.13);
				animation: rotate-right 35s infinite ease;
			}
			.one {
				z-index: 1;
				top: 1.2%;
				left: 7%;
				transform: rotate(20deg);
				animation: rotate-left 33s infinite ease;
			}
			.two {
				z-index: 1;
				top: 1.2%;
				right: 7%;
				transform: rotate(20deg);
				animation: rotate-right 32s infinite ease;
			}
			.three {
				z-index: 1;
				top: 33%;
				left: 7%;
				transform: rotate(20deg);
				animation: rotate-right 32s infinite ease;
			}
			.four {
				z-index: 1;
				top: 33%;
				right: 7%;
				transform: rotate(20deg);
				animation: rotate-right 32s infinite ease;
			}
			.five {
				z-index: 1;
				top: 64%;
				left: 7%;
				transform: rotate(20deg);
				animation: rotate-right 32s infinite ease;
			}
			.six {
				z-index: 1;
				top: 64%;
				right: 7%;
				transform: rotate(20deg);
				animation: rotate-right 32s infinite ease;
			}
			.seven {
				z-index: 1;
				top: 94%;
				left: 7%;
				transform: rotate(20deg);
				animation: rotate-right 32s infinite ease;
			}
			.eight {
				z-index: 1;
				top: 94%;
				right: 7%;
				transform: rotate(20deg);
				animation: rotate-right 32s infinite ease;
			}
		}
		.wrapper {
			position: relative;
			.middle-line {
				background-color: #dddddd;
				position: absolute;
				left: 50%;
				top: 0;
				transform: translateX(-50%);
				height: 100%;

				border-bottom-right-radius: 15px;
				border-bottom-left-radius: 15px;
				width: 4px;
			}
			.informations {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding-top: 6em;
				.information {
					border-radius: 14px;
					margin-bottom: 5em;
					.top {
						display: flex;

						text-align: center;
						align-items: center;
						justify-content: center;
						margin: 1.4em;
						position: relative;
						border-bottom: 2px solid $dark;
						border-radius: 13px;
						.heading {
							color: $bright;
							font-weight: 800;
							font-size: 3.5rem;
							position: relative;
							padding-bottom: 0.5em;
						}
					}
					.bottom {
						margin: 1.2em;
						text-align: center;
						color: $light-dark;
						font-weight: 650;
						.heading-text {
							font-size: 1.5rem;
						}
					}
					z-index: 2;
					width: 250px;
					// height: 150px;
					background-color: #ddd;
				}
			}
		}
	}
	section.offers {
		background-color: $dark;
		padding: 4em 2em;
		.section-title {
			font-size: 3rem;
			text-align: center;
			color: #ddd;
			text-transform: uppercase;
			position: relative;
			margin-bottom: 1.4em;
		}
		.section-title::before {
			position: absolute;
			content: '';
			left: 50%;
			bottom: -10px;
			transform: translateX(-50%);
			width: 6rem;
			height: 5px;
			background-color: #669699;
			border-radius: 3px;
		}
		.wrapper {
			.offers {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-wrap: wrap;
				.offer {
					width: 270px;
					margin: 2em;

					.top {
						height: 270px;

						img {
							height: 100%;
							width: 100%;
							border-top-left-radius: 12px;
							border-top-right-radius: 12px;
						}
					}
					.bottom {
						display: flex;
						justify-content: center;
						align-items: center;
						flex-direction: column;
						padding: 0 2em;
						color: #ddd;
						background-color: #2f343d;
						ul {
							align-self: flex-start;
							padding: 1em;
						}
						p {
							font-size: 2.6rem;

							font-weight: 750;
						}
						button {
							font-size: 2rem;
							margin: 0.8em;
							color: #ddd;
							background-color: $bright;
							width: 200px;

							border: none;
							border-radius: 8px;
							height: 40px;
							cursor: pointer;
							transition: background 0.3s, border 0.3s;
						}
						button:hover {
							background: none;
							border: 1px solid $bright;
						}
					}
				}
			}
			.offer:nth-child(2) {
				.bottom {
					button {
						font-size: 2rem;

						color: #ddd;
						background: none;
						border: 1px solid $bright;

						border-radius: 8px;
						cursor: pointer;
						transition: background 0.3s, border 0.3s;
					}
					button:hover {
						background: $bright;
						border: none;
					}
				}
			}
		}
	}
	section.hero-img-2 {
		background-image: url('../img/dumbbell-940375_1920.jpg');
	}
	section.faq {
		background-color: $dark;
		color: #ddd;
		// height: 500px;
		.questions {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			padding: 4em 0;
			.question {
				width: 90%;
				padding: 1em;
				.container {
					.heading {
						display: flex;
						justify-content: space-between;
						align-items: center;

						cursor: pointer;
						padding: 10px;
						padding-bottom: 13px;

						border-bottom: 3px solid #ddd;
						i {
							transition: transform 0.4s;
						}
					}
					.answer {
						height: 0px;
						padding: 0;
						font-size: 1.5rem;
						overflow: hidden;
						transition: height 0.5s, padding 0.5s, font-size 0.5s;
					}
				}
			}
			.showAnswer {
				.container {
					.answer {
						height: 300px;
						padding: 1em;
						font-size: 1.5rem;
						overflow: hidden;
					}
				}
			}
			.rotateArrow {
				.container {
					.heading {
						i {
							transform: rotate(180deg);
						}
					}
				}
			}
		}
	}
	section.personal {
		background-color: $bright;
		color: #fcfcfc;
		height: 340px;
		text-align: center;
		h2 {
			font-size: 2.6rem;
			justify-self: start;
			font-weight: 500;
			padding-top: 30%;
		}
		button {
			border: none;
			cursor: pointer;
			width: 180px;
			height: 40px;
			border-radius: 8px;
			margin-top: 5%;
		}
	}
}

@keyframes rotate-right {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes rotate-left {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(-360deg);
	}
}
@media (min-width: 0px) {
	header {
		.navbar-dekstop {
			visibility: hidden;
		}
	}
}

@media (max-width: 480px) {
	// Style
}

@media (min-width: 576px) {
	header {
		.image {
			.unusual {
				width: 360px;
				bottom: 1.2em;
			}
		}
		.background-images {
			.seven {
				display: block;
				z-index: 1;
				bottom: 4em;
				left: 45%;
				transform: rotate(-6deg);
			}
			.eight {
				display: block;
				z-index: 1;
				top: 3em;
				left: 45%;
				transform: rotate(16deg);
			}
		}
		.menu-mobile {
			.nav_link {
				font-size: 2rem;
			}
			:first-child {
				margin-top: 8%;
			}
		}
	}
	main {
		.hero-img {
			.hero-img-text {
				font-size: 3rem;
			}
		}
	}
}

@media (min-width: 768px) {
	header {
		.heading {
			top: 32%;
			left: 10%;
			.heading-title {
				font-size: 7rem;
				color: $bright;
				font-weight: 800;
			}
			p {
				font-size: 2.5rem;
				span {
					color: $bright;
					font-weight: 700;
				}
			}
		}
		.image {
			.unusual {
				width: 370px;
				bottom: 2em;
				right: 10%;
			}
		}
		.menu-mobile {
			.nav_link {
				font-size: 2rem;
			}
			:first-child {
				margin-top: 7%;
			}
		}
	}
	main {
		section.personal {
			background-color: $bright;
			color: #fcfcfc;
			height: 440px;
			text-align: center;
			h2 {
				font-size: 4.2rem;
				justify-self: start;
				font-weight: 400;
				padding-top: 15%;
			}
			button {
				border: none;
				cursor: pointer;
				width: 220px;
				font-size: 1.8rem;
				font-weight: 500;
				height: 45px;
				border-radius: 28px;
				margin-top: 5%;
			}
		}
	}
}

@media (min-width: 992px) {
	html {
		scroll-padding-top: 86px;
	}
	header {
		.navbar {
			display: none;
		}
		.navbar-dekstop {
			visibility: visible;
		}
	}
	main {
		section.faq {
			background-color: $dark;
			color: #ddd;
			.questions {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				padding: 3em 0;
				.question {
					width: 90%;
					padding: 1.1em;
					.container {
						.heading {
							p {
								font-size: 2.3rem;
							}
							i {
								transition: transform 0.4s;
								font-size: 2.3rem;
							}
						}
						.answer {
							height: 0px;
							padding: 0;
							font-size: 1.5rem;
						}
					}
				}
				.showAnswer {
					.container {
						.answer {
							height: 300px;
							padding: 1em;
							font-size: 2rem;
						}
					}
				}
				.rotateArrow {
					.container {
						.heading {
							i {
								transform: rotate(180deg);
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 1200px) {
	header {
		.image {
			.unusual {
				width: 510px;
				bottom: 3em;
			}
		}
		.background-images {
			.five {
				z-index: 1;
				top: 7em;
				left: 14%;
				transform: rotate(-6deg);
				animation: rotate-right 47s infinite ease;
			}
		}
		.heading {
			top: 32%;
			left: 10%;
			.heading-title {
				font-size: 8.6rem;
			}
			p {
				font-size: 2.8rem;
			}
		}
	}
	main {
		.hero-img {
			height: 350px;
			.hero-img-text {
				font-size: 4rem;
			}
		}

		.about-me {
			// height: 900px;ve;
			.wrapper {
				.informations {
					display: grid;
					grid-template-columns: repeat(3, 1fr);
					gap: 10px;
					row-gap: 100px;
					grid-template-rows: repeat(3, 1fr);
					align-items: center;
					padding-right: 2.3em;
					padding-left: 2.3em;

					.information {
						width: 100%;
					}
					.information:nth-child(1) {
						grid-row: 1/2;
						grid-column: 1/2;
						position: relative;
					}
					.information:nth-child(1)::before {
						content: '';
						position: absolute;
						width: 51.8%;
						height: 4px;
						top: 50%;
						left: 100%;
						background-color: #ddd;
						transform: translatey(-50%);
					}
					.information:nth-child(2) {
						grid-row: 2/3;
						grid-column: 3/4;
						position: relative;
					}
					.information:nth-child(2)::before {
						content: '';
						position: absolute;
						width: 51.8%;
						height: 4px;
						top: 50%;
						right: 100%;
						background-color: #ddd;
						transform: translatey(-50%);
					}
					.information:nth-child(3) {
						grid-row: 3/4;
						grid-column: 1/2;
						position: relative;
					}
					.information:nth-child(3)::before {
						content: '';
						position: absolute;
						width: 51.8%;
						height: 4px;
						top: 50%;
						left: 100%;
						background-color: #ddd;
						transform: translatey(-50%);
					}
				}
			}
		}
		section.offers {
			.wrapper {
				.offers {
					.offer {
						width: 340px;
						margin: 3em;

						.top {
							height: 410px;
						}
						.bottom {
							padding: 0 2em;
							color: #ddd;
							background-color: rgb(46, 53, 66);
						}
					}
				}
			}
		}
		section.personal {
			background-color: $bright;
			color: #fcfcfc;
			height: 550px;
			text-align: center;
			h2 {
				font-size: 4.8rem;
				justify-self: start;
				font-weight: 400;
				padding-top: 15%;
			}
			button {
				border: none;
				cursor: pointer;
				width: 220px;
				font-size: 1.8rem;
				font-weight: 500;
				height: 45px;
				border-radius: 28px;
				margin-top: 5%;
			}
		}
	}
}

@media (min-width: 1600px) {
	header {
		.navbar-dekstop {
			img {
				margin-left: 12%;
			}
			.nav-links {
				margin-right: 12%;
			}
		}
	}
	main{
		section.personal {
			background-color: $bright;
			color: #fcfcfc;
			height: 640px;
			text-align: center;
			h2 {
				font-size: 6rem;
				justify-self: start;
				font-weight: 400;
				padding-top: 8%;
			}
			button {
				border: none;
				cursor: pointer;
				width: 220px;
				font-size: 1.8rem;
				font-weight: 500;
				height: 45px;
				border-radius: 28px;
				margin-top: 5%;
			}
		}
	}
}
